* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(191, 88, 255, 1) 0%, rgba(203, 98, 255, 1) 100%);
    height: 100vh;
}

.message {
    border-radius: 4px;
    margin: 10px 40px;
}

.message__header {
    border-radius: 4px 4px 0 0;
    color: #fff;
    background-color: #b240ff;
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.message__header-p {
    display: block;
    font-weight: 700;
    margin: 10px 0;
}

.message__header-button {
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;

    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
}

.message__header-button::after,
.message__header-button::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.message__header-button::before {
    height: 2px;
    width: 50%;
}

.message__header-button::after {
    height: 50%;
    width: 2px;
}

.message__body {
    border-radius: 0 0 4px 4px;
    color: #4a4a4a;
    background-color: #eeeeee;
    width: 100%;
    height: auto;
    /* overflow: auto; */
    padding: 10px 15px;
}

header {
    margin: 10px 40px;
    color: black;
    border-bottom: 1px solid rgb(172, 38, 255);
    letter-spacing: 1px;

    p {
        font-weight: 400;
    }
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h2 {
    margin: 0;
    margin-left: 10%;
    font-weight: 600;
    font-size: 26px;
}

label {
    width: 100%;
    display: block;
    padding-left: 10%;
    margin-top: 30px;
    margin-bottom: 4px;
    font-weight: 600;
}

#log-email,
#log-password,
#register-email,
#register-password,
#register-name {
    width: 80%;
    margin: 0 10%;
    height: 36px;
    text-align: left;
    font-size: 15px;
}

.section {
    width: auto;
    margin: 30px 40px 0 40px;

    &__form{
        position: relative;
    }

    &__button{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px
    }

    &__footer{
        border-top: 1px solid rgb(172, 38, 255);
        margin-top: 40px;
        text-align: center;
    }
    &__footer-span {
        font-weight: 700;
        cursor: pointer;
        color: rgb(172, 38, 255)
    }
}

main {
    width: 500px;
    min-height: 800px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 20px;
    margin-left: -250px;
    margin-top: -400px;
    border-radius: 20px;
}

.input-todo {
    width: auto;
    margin: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

button,
input {
    padding: 10px 10px;
    font-size: 20px;
}

input {
    width: 350px;
    text-align: center;
    &:focus{
        outline-color: rgb(172, 38, 255);
    }
}

button {
    background-color: white;
    border-color: rgb(172, 38, 255);
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: rgb(178, 64, 255);
    color: white;
    &:hover{
        cursor: pointer;
        background-color: rgb(157, 0, 255);
    }
}


.wrong-email::before {
    content: 'Please fix your email to continue';
    position: absolute;
    top: 62px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(223, 0, 0);
}

.wrong-password::before {
    content: 'Password must be at least 6 characters long';
    position: absolute;
    top: 62px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(223, 0, 0);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 50px;
    margin: 15px 40px 0 40px;

    div {
        width: 300px;
        color: black;
        font-size: 18px;
        margin-left: 10px;
        text-decoration: none;
        transition: all .5s;
        padding: 10px 0;

        &:hover{
            cursor: pointer;
        }
    }

    button {
        height: 60%;
    }
}

i {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    transition: all .5s;

    &:hover {
        cursor: pointer;
        color: rgb(172, 38, 255);
    }
}

.line {
    text-decoration: line-through !important;
    color: rgb(170, 170, 170) !important;
}

.iconColor {
    color: rgb(170, 170, 170);
}

.incorrect{
    background-color: rgb(255, 227, 227);
}


@media (max-width: 510px) {
    main {
        position: static;
        margin: auto;
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    header {
        margin: 0 20px 10px;

    }

    h1 {
        margin: 0;
        padding-top: 20px;
    }

    h2{
        margin: 0;
    }

    label{
        padding-left: 0;
    }

    #log-email,
    #log-password,
    #register-email,
    #register-password,
    #register-name {
        width:100%;
        margin: 0;
    }

    .message{
        margin: 10px 20px;
    }

    .section{
        margin: 30px 20px;

        &__button{
            margin-left:0;
            margin-right:0;
            width:100%;
        }
    }

    .item {
        margin: 15px 20px 0;
    }

    .input {
        margin: 40px 20px 0;

        &-todo{
            margin: 40px 20px;
        }
    }

    input {
        width: 70vw;
    }
}

@media (max-width: 380px) {
    input {
        width: 65vw;
    }
}

@media (max-width: 320px) {
    input {
        width: 60vw;
    }
}

@media (max-height: 800px) {
    main {
        top: 0;
        margin-top: 0px;
    }
}

