* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #bf58ff), to(#cb62ff));
  background: linear-gradient(90deg, #020024 0%, #bf58ff 0%, #cb62ff 100%);
  height: 100vh;
}

.message {
  border-radius: 4px;
  margin: 10px 40px;
}

.message__header {
  border-radius: 4px 4px 0 0;
  color: #fff;
  background-color: #b240ff;
  width: 100%;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.message__header-p {
  display: block;
  font-weight: 700;
  margin: 10px 0;
}

.message__header-button {
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0;
  height: 20px;
  width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
}

.message__header-button::after, .message__header-button::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.message__header-button::before {
  height: 2px;
  width: 50%;
}

.message__header-button::after {
  height: 50%;
  width: 2px;
}

.message__body {
  border-radius: 0 0 4px 4px;
  color: #4a4a4a;
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* overflow: auto; */
  padding: 10px 15px;
}

.message__body-div {
  line-height: 1.3;
}

.message__body-button {
  font-size: 14px;
  border-color: #ac26ff;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #b240ff;
  color: white;
  margin: 10px auto 0px;
}

header {
  margin: 10px 40px;
  color: black;
  border-bottom: 1px solid #ac26ff;
  letter-spacing: 1px;
}

header p {
  font-weight: 400;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-weight: 600;
  font-size: 26px;
}

label {
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-bottom: 4px;
  font-weight: 600;
}

#log-email,
#log-password,
#register-email,
#register-password,
#register-name,
#forgot-email {
  width: 100%;
  height: 36px;
  text-align: left;
  font-size: 15px;
}

.section {
  width: auto;
  margin: 30px 40px 0 40px;
}

.section__form {
  position: relative;
}

.section__button {
  width: 100%;
  margin-top: 40px;
}

.section__footer {
  border-top: 1px solid #ac26ff;
  margin-top: 40px;
  text-align: center;
}

.section__footer-a {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  text-decoration: none;
}

.section__footer-a, .section__footer-span {
  font-weight: 700;
  cursor: pointer;
  color: #ac26ff;
}

.section__footer-a:hover, .section__footer-span:hover {
  color: #8500d8;
  text-decoration: underline;
}

main {
  width: 500px;
  min-height: 800px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 20px;
  margin-left: -250px;
  margin-top: -400px;
  border-radius: 20px;
}

.input-todo {
  width: auto;
  margin: 40px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button,
input {
  padding: 10px 10px;
  font-size: 20px;
}

input {
  width: 350px;
  text-align: center;
}

input:focus {
  outline-color: #ac26ff;
}

button {
  background-color: white;
  border-color: #ac26ff;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #b240ff;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #9d00ff;
}

.wrong-email::before {
  content: 'Please fix your email to continue';
  position: absolute;
  top: 62px;
  font-size: 12px;
  font-weight: 400;
  color: #df0000;
}

.wrong-password::before {
  content: 'Password must be at least 6 characters long';
  position: absolute;
  top: 62px;
  font-size: 12px;
  font-weight: 400;
  color: #df0000;
}

.wrong-name::before {
  content: 'Name must be at least 3 characters long';
  position: absolute;
  top: 62px;
  font-size: 12px;
  font-weight: 400;
  color: #df0000;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 50px;
  margin: 15px 40px 0 40px;
}

.item div {
  width: 300px;
  color: black;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 10px 0;
}

.item div:hover {
  cursor: pointer;
}

.item button {
  height: 60%;
}

i {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

i:hover {
  cursor: pointer;
  color: #ac26ff;
}

.line {
  text-decoration: line-through !important;
  color: #aaaaaa !important;
}

.iconColor {
  color: #aaaaaa;
}

.incorrect {
  background-color: #ffe3e3;
}

@media (max-width: 510px) {
  main {
    position: static;
    margin: auto;
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  header {
    margin: 0 20px 10px;
  }
  h1 {
    margin: 0;
    padding-top: 20px;
  }
  .message {
    margin: 10px 20px;
  }
  .section {
    margin: 30px 20px;
  }
  .item {
    margin: 15px 20px 0;
  }
  .input {
    margin: 40px 20px 0;
  }
  .input-todo {
    margin: 40px 20px;
  }
  input {
    width: 70vw;
  }
}

@media (max-width: 380px) {
  input {
    width: 65vw;
  }
}

@media (max-width: 320px) {
  input {
    width: 60vw;
  }
}

@media (max-height: 800px) {
  main {
    top: 0;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */