<!DOCTYPE html>
<html lang="en">
 	<head>
    	<meta charset="utf-8" />
    	<title>Todo List</title>
    	<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- FONT -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

		<script src="https://kit.fontawesome.com/01fbf34917.js" crossorigin="anonymous"></script>
		
 	</head>

	<body>

		<main>
			<div id="app">
				<header>
					<h1>
						Todo List
					</h1>
					<p>Get things done, one item at a time.</p>
				</header>

				<message 	
					v-show="isVisible"
					v-on:set-false-isvisible="setFalseIsVisible"
					v-on:send-verification-email="sendEmailVerification"
					:header=messageHeader 
					:body=messageBody
					:verification=isVisibleVerificationButton>
				</message>

				<!-- Logging -->
				<section class="section" v-show="(!logged && !register)">
					<h2>Log In</h2>
					<form class="section__form">
						<label for="email" id="log-email-label" class="">E-mail</label>
						<input id="log-email"  type="text" name="email" @change="validateEmailById('log-email')">
					</form>

					<form class="section__form">
						<label for="password" id="log-password-label">Password</label>
						<input id="log-password" type="password" name="password" @change="validatePasswordById('log-password')">
					</form>

					<!-- <button class="section__button" type="submit" @click="logInAndGetData()">Log In</button> -->
					<button class="section__button" type="submit" @click="validateLoginData()">Log In</button>
					<div class="section__footer">
						<a href="change-password.html" class="section__footer-a">Forgot your password?</a>
						<p>You don't have an account? <span class="section__footer-span" @click="setRegisterTrue()" >Sign Up</span></p>
					</div>
				</section>



				<!-- Creating an account -->
				<section class="section" v-show="(register && !logged)">
					<h2>Create an account</h2>
					<form class="section__form">
						<label for="name" id="register-name-label">Name</label>
						<input id="register-name" type="text" name="name" @change="validateNameById('register-name')">
					</form>

					<form class="section__form">
						<label for="email" id="register-email-label">E-mail</label>
						<input id="register-email" type="text" name="email" @change="validateEmailById('register-email')">
					</form>

					<form class="section__form">
						<label for="password" id="register-password-label">Password</label>
						<input id="register-password" type="password" name="password"  @change="validatePasswordById('register-password')">
					</form>

					<button class="section__button" type="submit" @click="validateRegisterData()">Sign Up</button>
					<div class="section__footer">
						<p>
							Already Registered? <span class="section__footer-span" @click="setRegisterFalse"> Log In</span>
						</p>
					</div>
				</section>

				

				<!-- input to do -->
				<div class="input-todo" v-show="logged">
					<input type="text" v-model="input" v-on:keypress.enter="add" placeholder="What needs to be done?">
					<button type="submit" @click="add">Add</button>
				</div>

				<!-- list -->
				<transition-group name="fade">
					<div class="item" v-for="(item, index) in tab" :key="index">
						<i @click="toggleCheckbox(item)" v-if="item.isCompleted===true" class="far fa-check-square" :class="{ iconColor: item.isCompleted }"></i>
						<i @click="toggleCheckbox(item)" v-if="item.isCompleted===false" class="far fa-square"></i>
						<div @click="toggleCheckbox(item)" :class="{ line: item.isCompleted }">{{item.content}}</div> 
						<i @click="editElement(item)"  class="far fa-edit" :class="{ iconColor: item.isCompleted }"></i>
						<i @click="deleteElement(item)" class="fas fa-trash" :class="{ iconColor: item.isCompleted }"></i>
					</div>
				</transition-group>
			</div>
		</main>

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		
	    <!-- The core Firebase JS SDK is always required and must be listed first -->
	    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

	    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-database.js"></script>


	    <!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries -->
	    <!-- <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script> -->

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</body>

</html>